{% extends "layout.twig" %}

{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="shadow p-5 px-5 d-flex" style="background-color: antiquewhite; height: 2900px">
    <div>
        <h3 class="text-uppercase py-2 p-3 text-white" style="background-color: #051937">{{ auth.name }} Portfolio</h3>
        <table class="table mt-3 border border-primary border-bottom-0 shadow">
            <thead>
            <tr class="text-secondary">
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Amount</th>
                <th scope="col">Current value</th>
                <th scope="col">Average price</th>
                <th scope="col">Current price</th>
                <th scope="col">Trade</th>
                <th scope="col">Transfer</th>
            </tr>
            </thead>
            <tbody>
            {% for key, entry in portfolio %}
                <tr>
                    <th scope="row" class="text-secondary">{{ key+1 }}</th>
                    <td>
                        <div class="d-flex align-items-center">
                            <img src="{{ entry.coinLogo }}" alt="logo {{ entry.id }}" class="rounded-circle me-3"
                                 width="40px">
                            <h5 class="m-0">{{ entry.coinName }} <span
                                        class="badge bg-secondary">{{ entry.symbol }}</span></h5>
                        </div>
                    </td>
                    <td class="align-middle"><span>{{ entry.amount|number_format(2) }}</span></td>
                    <td class="align-middle">
                        <span>~${{ (entry.currentPrice * entry.amount)|number_format(2) }}</span></td>
                    <td class="align-middle"><span>${{ entry.averagePrice|number_format(2) }}</span></td>
                    <td class="align-middle d-flex flex-column">
                        {% set change = (entry.currentPrice - entry.averagePrice) %}
                        <span>${{ entry.currentPrice|number_format(2) }}</span>
                        {% if change > 0 %}
                        <span class="text-success">
                            {% elseif change < 0 %}
                                <span class="text-danger">
                            {% else %}
                                <span>
                            {% endif %}
                                    {% if entry.averagePrice > 0 and entry.currentPrice > entry.averagePrice %}
                                        +{{ change|number_format(2) }} (+{{ (change / entry.averagePrice * 100)|number_format(2) }}%)
                                    {% elseif entry.averagePrice > 0 and entry.averagePrice > entry.currentPrice %}
                                        {{ change|number_format(2) }} ({{ (change / entry.averagePrice * 100)|number_format(2) }}%)
                                    {% else %}
                                        0.00
                                    {% endif %}
                            </span>
                    </td>
                    <td class="align-middle">
                        <a class="btn btn-success rounded-0 w-100 py-2 text-uppercase"
                           href="/coin/{{ entry.coinId }}">Trade</a>
                    </td>
                    <td class="align-middle">
                        <a class="btn btn-danger rounded-0 w-100 py-2 text-uppercase"
                           href="/coin/{{ entry.coinId }}/transfer">Transfer</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="ps-5 ms-5">
        <h4 class="text-uppercase text-white py-2 p-3" style="background-color: brown">{{ auth.name }} Transactions</h4>
        <table class="table mt-3 border border-secondary shadow border-bottom-0">
            <thead>
            <tr class="text-secondary">
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">Type</th>
                <th scope="col">Name</th>
                <th scope="col">Price per coin</th>
                <th scope="col">Amount</th>
                <th scope="col">Total</th>
                <th scope="col">Date</th>
            </tr>
            </thead>
            <tbody>
            {% for key, transaction in transactions %}
                <tr style="background-color:
                {% if transaction.type == 'buy' %}{% elseif transaction.type == 'sell' %}{% elseif transaction.type == 'transfer' %}{% elseif transaction.type == 'received' %}
                        #F08080
                {% else %}
                        ''
                {% endif %}
                        ">
                    <th scope="row" class="text-secondary">{{ key+1 }}</th>
                    <td>{{ transaction.id }}</td>
                    <td>{{ transaction.type }}</td>
                    <td>{{ transaction.coinName }}</td>
                    <td>${{ transaction.coinPrice|number_format(2) }}</td>
                    <td class="align-middle"><span>{{ transaction.amount|number_format(2) }}</span></td>
                    <td class="align-middle">
                        <span>${{ transaction.total|number_format(2) }}</span></td>
                    <td class="align-middle"><span>{{ transaction.createdAt }}</span></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}
